body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.container {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.column {
    flex: 1;
    padding: 20px;
}

.green {
    background-color: #185bc0;
}

.red {
    background-color: #3a408d;
}

.Marvelsuperheroes-list,
.DCsuperheroes-list {
    list-style: none;
    padding: 0;
}

.superhero-item {
    background-color: #fffb00;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.superhero-number {
    float: right;
}

.total {
    margin-top: 20px;
    font-weight: bold;
}

.bottom-section {
    margin-top: 20px;
    text-align: center;
}

.difference {
    font-size: 18px;
    font-weight: bold;
}